{%  extends "base.html" %}
{%  load static %}

{%  block styles %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>  
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  {%  endblock  %} 
{%  block scripts %}
<!--Fontawesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<!---->

    <script src="{% static 'lib/select2-4.0.13/js/select2.full.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>

    <script src="{% static 'js/funciones.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>

  {%  endblock  %}
  
{% block content %}
    {% include 'especialidadesModal.html' %}
    {% include 'especialidadesModal2.html' %}

    <div style="box-shadow: 0px 0px 20px gray;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand text-light d-flex align-items-center justify-content-center" href="#">
                <div>
                    <svg class="bg-success rounded" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>    
                </div>
                <a href="/admin">
                <div class="mt-1">
                  <p class="h4 text-light text-decoration-none"> Administrador </p>
                </div>
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
              </ul>
                  <div class="">
                    <div class="container botonesNav ">
                        <div class="" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" checked>
                            <a class="btn btn-outline-light mt-1" for="btnradio6" href="{% url 'preguntarChatGPT' %}" >Consulta con IA ✨</a>
                        
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                            <a class="btn btn-outline-light mt-1 d-none" for="btnradio4" href="{% url 'BibliotecaEposters:biblioteca_eposters_list' %}">Eposters</a>
                            
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                            <a class="btn btn-outline-light" for="btnradio4" href="{% url 'autor_list' %}">Autores</a>
                            
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                            <label class="btn btn-outline-light" for="btnradio2" >Trabajos Principal</label>
                          
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn btn-outline-light" for="btnradio3">Cursos</label>
                
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" >
                            <a class="btn btn-outline-light" for="btnradio2" href="{% url 'list_trabajos_m'  %}">Trabajos con archivos</a>
                                    
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                            <a class="btn btn-outline-light" for="btnradio4" href="{% url 'user:user_list' %}">Usuarios</a>
                          
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                            <a class="btn btn-outline-light" for="btnradio5" href="{% url 'reportes'  %} ">Reportes</a>
                        </div>
                    </div>
                  </div>
            </div>
          </nav>
    </div>
    
    
    {% include 'messages.html' %}

    <div class="container-fluid " id="contenedorTrabajos">
       
        {% include 'tablas/trabajosList2.html' %}
        <div class="d-flex justify-content-end mx-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if trabajos.has_previous %}
                        <li class="page-item border border-primary rounded">
                            <a class="page-link" href="/?page={{trabajos.previous_page_number}}">Anterior</a>
                        </li>
                    {% endif %}
                    {% for i in trabajos.paginator.page_range  %}
                        <li class="page-item ">
                            <a class="page-link" href="/?page={{i}}">{{i}}</a>
                        </li> 
                    {% endfor %}
                    {% if trabajos.has_next %}
                        <li class="page-item border border-primary rounded">
                            <a class="page-link" href="/?page={{trabajos.next_page_number}}">Siguiente</a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
        </div>
        
        <div class="modal fade contenedor" id="evaluador_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll;">
        </div>
    </div>

    <div class="container-fluid " id="contenedorCursos" hidden>
        {% include 'tablas/cursosList.html' %}
        
        <div class="modal fade contenedor" id="crearCurso_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll;">
        </div>
        <div class="modal fade contenedor" id="editCurso_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        </div>
        <div class="modal fade contenedor" id="eliminarCurso_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        </div>
    </div>
    <br><br>
{% endblock %}
{% block javascript %}
       <script type="text/javascript">
            
            let tb = $('#trabajos').DataTable({
                responsive: true,
                autoWidth: false,
                paging:false,
                info:false,
                searching: false,
            });
           console.log(tb.page())
            function abrir_modal_createCurso(url){
                $('#crearCurso_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_editCurso(url){
                $('#editCurso_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_deleteCurso(url){
                $('#eliminarCurso_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_evaluador(url){
                $('#evaluador_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            
        </script>
{% endblock %}