{%  extends "base.html" %}
{%  block title %}
    Detalle Trabajo
{%  endblock    %}
{% load static %}

{%  block styles %}
    <link rel="stylesheet" href="{% static 'css/index_evaluador.css' %}"/>
{%  endblock  %}
{%  block content   %}

<div class=" bg-dark text-light pt-3">
    <div class="container">
        <a href="{% url 'inicio'  %}" class="btn btn-danger">Volver</a>
    </div>
    <h2 class="w-75 mx-auto m-3"><center> {{ object.titulo|safe }}</center></h2>
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap ">            
            <div class=" ">
                <h5 >Código. {{ object.identificador|safe }}</h5>
            </div>
            <div class="">
                <h5>Fecha Registro: {{ object.fecha_subida|date:"d/m/Y H:i:s" }}</h5>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <h5 class="rounded-3 bg-primary d-inline px-4 pt-1 text-light pb-2 "><small>Curso:</small> {{ object.curso |safe}}</h5>
    <div class="row mt-4">
        <div class="col-6">
            <h5><small>- Autor de correspondencia:</small> {{ object.Autor_correspondencia|safe }}</h5>
            <h5><small>- Correo de autor: </small>{{ object.Autor_correspondencia.email|safe }}</h5>
            <h5><small>- Telefono de autor: </small>{{ object.Autor_correspondencia.celular|safe }}</h5>
        </div>
        <div class="col-2 ">
        </div>
        <div class="col-4 ">
            <h5><small>- Institución principal: </small>{{ object.institucion_principal |safe}}</h5>
            <h5 ><small>- Tipo de trabajo: </small>{{ object.tipo_trabajo |safe}}</h5>
            <h5 ><small>- Subtipo:</small> {{ object.subtipo_trabajo |safe}}</h5>
        </div>
    </div>
    <br>    
    <div class="container">
        
        {% if autores_ingreso %}
            <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
                
                {% for autor in autores_ingreso %}
                <div class="col-lg-4 col-md-6 col-12 align-content-center">
                    <h5><small>- Autor de ingreso: </small>{{autor.autorIN}}</h5>
                    <h5><small>- Correo de autor: </small>{{ autor.autorIN.email|safe }}</h5>
                    <h5><small>- Telefono de autor: </small>{{ autor.autorIN.celular|safe }}</h5>
                </div>
                {% endfor %}
                    
            </div>
        {% endif %}      
        
    </div>
    <div class="container ">
        <h5><small>Observaciones:</small> {{ object.observaciones |safe}}</h5>
        <hr class="border border-primary">
        <h5 >Resumen en español: </h5>
        <p>{{ object.resumen_esp}}</p>
        <h5 >Resumen en ingles: </h5>
        <p>{{ object.resumen_ingles}}</p>
        <hr class="border border-primary">
        <div>
            <h4>Palabras Claves / Key Words</h4>
        </div>
            <div class="">
                {% if palabrasC  %}
                    {% for palabra in  palabrasC %}
                            <h6 class="btn btn-sm btn-primary">{{palabra.palabra}}</h6>
                    {% endfor %} 
                
            {% endif %}
            </div>
            <div class="" style="">   
                {% if keywords  %}
                    {% for keyword in  keywords %}
                            <h6 class="btn btn-sm btn-dark">{{keyword.keyword}} </h6>
                    {% endfor %} 
            {% endif %}
            </div>
        </div>
        <hr class="border border-primary">
        {% if manuscritos %}
        <h4 class="my-4">Manuscritos:</h4>
        {% for manuscrito in manuscritos %}
            <a  class="btn btn-outline-primary" href="/media/{{ manuscrito.manuscrito }}" target="_blank">{{manuscrito.tituloM}}</a>
            {% if manuscritos|length == 1 %}
                <div class="container-fluid !justify !spacing">
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <a href="{% url 'generar_pdf' manuscrito.id %}" class="btn btn-danger py-2">Generar PDF</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}            
        {%  endif   %}
        
        {% if anexos %}
        {% for anexo in anexos %}
        <h5>Otros: </h5>
        <ul>
            <li>
                <a href="/media/{{ anexo.tabla }}">{{anexo.tituloT}}</a>
            </li>
        </ul>
        {% endfor %}
        {%  endif   %}
    </div>
    <br>
    <div class="container ">
        {% if evaluadores  %}
        <hr class="border border-primary">
            <h2 class="mb-4"><center>Evaluadores asignados</center></h2>
            <div class="row mb-4">
                {% for evaluador in  evaluadores %}
                    <div class="col-lg-4 col-md-6 col-12 py-3 px-2 card rounded m-2 " style="border-radius: 3px; box-shadow: 4px 4px 0px 0px #e6e6e6;">
                        <h5><small>Nombre:</small> {{evaluador.evaluador}} </h5>
                        <h5><small>Correo:</small>{{evaluador.evaluador.email}} </h5>
                       
                        <h5><small>Fecha:</small> 
                            {% if evaluador.calificacion ==  None %} 
                            {% else %} 
                            {{evaluador.fecha_evaluacion}}
                            {% endif %}
                        </h5>
                        
                        <h5><small>Calificación:</small></h5>
                                {% if evaluador.calificacion ==  None %} 
                                Sin calificar
                                {% else %} 
                                <h3 class="text-primary ">{{evaluador.calificacion}}</h3> 
                                {% endif %}
                        </h5>
                        <h5><small>Observaciones:</small></h5>
                        <div class="container" style="word-wrap: break-word;">
                            {{evaluador.comentario}}
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <!-- CODIGO PARA ELIMINAR EVALUADOR DE UN TRABAJO -->
                            <div>
                                {% if evaluador.calificacion > 0 %}
                                    <!-- No mostrar el botón de eliminar si la calificación es mayor a 0 -->
                                {% else %}
                                    <form action="{% url 'eliminar_evaluador_trabajo' pk=evaluador.id %}" method="get" id="eliminarForm" data-nombre="{{evaluador.evaluador}}">
                                        {% csrf_token %}
                                        <input type="submit" value="Eliminar" class="btn btn-outline-danger">
                                    </form>
                                    <script>
                                        document.querySelectorAll("#eliminarForm").forEach(form => {
                                            if (!form.classList.contains("listener-added")) {
                                                form.addEventListener("submit", function(event) {
                                                    var nombreEvaluador = this.getAttribute("data-nombre");
                                                    var nombreEvaluadorPrompt = prompt("Por favor introduzca el nombre del evaluador "+nombreEvaluador.trim())
                                                    if(nombreEvaluadorPrompt){
                                                        if(nombreEvaluador.trim() == nombreEvaluadorPrompt.trim()){
                                                            var confirmacion = confirm("¿Estás seguro que deseas eliminar a "+nombreEvaluador.trim()+" como un evaluador del trabajo?");
                                                            if (!confirmacion) {
                                                                event.preventDefault(); // Cancelar el envío del formulario si no se confirma la eliminación
                                                            }
                                                        }else{
                                                            alert("LO SENTIMOS EL NOMBRE INTRODUCIDO NO ES EL MISMO QUE EL NOMBRE DEL EVALUADOR SELECCIONADO")
                                                            event.preventDefault(); // Cancelar el envío del formulario si no se confirma la eliminación
                                                        }
                                                    }
                                                });
                                                form.classList.add("listener-added");
                                            }
                                        });
                                    </script>
                                {% endif %}
                            </div>
                            
                            
                            <a href="https://api.whatsapp.com/send?phone=+57{{evaluador.evaluador.celular}}&text=Buen&nbsp;día&nbsp;Doctor&nbsp;{{evaluador.evaluador}}&nbsp;Reciba&nbsp;un&nbsp;cordial&nbsp;saludo,&nbsp;
                            
                            Le&nbsp;recuerdo&nbsp;realizar&nbsp;la&nbsp;evaluación&nbsp;del&nbsp;trabajo&nbsp;asignado(s)&nbsp;a&nbsp;traves&nbsp;del&nbsp;siguiente&nbsp;enlace:&nbsp;https://trabajos.sccot.org/accounts/login/&nbsp;
                            
                            Agradecemos&nbsp;su&nbsp;valiosa&nbsp;colaboración,&nbsp;ya&nbsp;que&nbsp;estamos&nbsp;a&nbsp;pocas&nbsp;semanas&nbsp;del&nbsp;magno&nbsp;evento&nbsp;68°&nbsp;Congreso&nbsp;Nacional&nbsp;SCCOT&nbsp;y&nbsp;debemos&nbsp;comunicarle&nbsp;a&nbsp;los&nbsp;autores&nbsp;del&nbsp;trabajo&nbsp;su&nbsp;calificación&nbsp;final&nbsp;para&nbsp;su&nbsp;presentación&nbsp;en&nbsp;el&nbsp;congreso.&nbsp;
                            
                            Nota:&nbsp;Recordamos&nbsp;que&nbsp;este&nbsp;trabajo&nbsp;ha&nbsp;sido&nbsp;asignado&nbsp;desde&nbsp;el&nbsp;mes&nbsp;de&nbsp;febrero." class="btn btn-success mx-3" target="_blank">Recordar por WhatsApp</a>
                        </div>
                    </div>                                      
                {% endfor %} 
            </div>
        
        {% if object.calificacion %}
        <h2><strong><center>Promedio = {{object.calificacion}}</center></strong></h2>
        <br>
        {% endif %}
        <div class="d-flex bg-dark justify-content-between align-items-center text-light py-3 px-3 rounded ">
            <div>
                <h3><strong><center>Obtener Promedio</center></strong></h3>
            </div>
            <div class="d-grid gap-1 col-4 ">
                <a href="{% url 'promediarEvaluacion' object.id %}" class="btn btn-primary"><h5>Promedio</h5></a>
            </div>
        </div>
        {%  endif   %}
    </div>
    <br>
    <div class="container-fluid !justify !spacing">
        <div class="d-grid gap-1 col-4 mx-auto">
            <a href="{% url 'inicio'  %}" class="btn btn-outline-danger">Volver</a>
        </div>
    </div>
    <br>
    
</div>
{% endblock %}
